# Ignore OS directory tmp files
.directory 
**/.directory
.DS_Store
**/.DS_Store

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.sass-cache


# Ignore lock files
Gemfile.lock
~lock.*


# Ignore RubyMine files
.idea

pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/

