# Ignore OS directory tmp files
.directory 
**/.directory
.DS_Store
**/.DS_Store

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
spec/dummy/log/*.log
spec/dummy/tmp
.sass-cache


# Ignore lock files
Gemfile.lock
~lock.*


# Ignore RubyMine files
.idea

pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
tmp/
