<div class="form">
 <%= "id: #{@node.id}" %> 
 <% form_tag 'nodes/create' do %>
     <%= text_field :node, :key %>
     <%= text_field :node, :value %>
      <%= submit_tag "Save" %>
     </p>
 <% end %>
</div>