<h1><%= link_to "Nodes", {:action => 'new'}, { :title => 'Create New Node'} %></h1>
<div id="content">

  <% for n in @nodes %>
      <div class="node">
        <%= link_to n.name, {:action => 'show', :id => n.id}, {:class => 'key draggable'} %>
        <% for key in n.vkeys %>
            <div class="key">
              <%= key %>
            </div>
        <% end %>
      </div>
  <% end %>

</div>

<hr/>