<h1><%= link_to  "node[#{@node.id}]", :action => 'edit', :id => @node.id %></h1>
<hr />
 <%= link_to "New", :action => 'new' %> | <%= link_to "Clone", :action => 'new', :id => @node %>
<hr />
<%= link_to "Nodes", :action => 'index' %>

