<!DOCTYPE html>
<html>
<head>
  <title>Nodes</title>
  <%= stylesheet_link_tag    "nodes/application", media: "all" %>
  <%= javascript_include_tag "nodes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
