html, body {
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 10pt;
    width: 99.8%;
    height: 100%;
}


table, td {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    border-collapse: collapse;
}

body, p, ol, ul, td {
    font-family: verdana, sans-serif;
    font-size: 10pt;
    background-color: #fff;
    color: #333;
}


h1, h2, h3, h4, h5 {
    color: #690;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #069;
}

hr {
    clear: both;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a img {
    border: 0;
}

a {
    color: #069;
    text-decoration: none;
}

h1 a {
    color: #690;
}

a:hover {
    text-decoration: underline;
}

.right {
    text-align: right;
}

p.notice {
    color: green;
}

a.name {
    background: #ddd;
    color: #333;
}

a.tag {
    color: #fff;
    background: #767676;
}

div.node a.tag:hover {
    background: #999;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

div#head {
    margin: 10px;
    width: 100%;
    float: left;
}

div#filter {
    float: left;
}

div#menu {
    margin-left: 10px;
    float: left;
}

div#menu a {
    font-size: 12pt;
    font-weight: bold;
}

div#search {
    margin-right: 20px;
    float: right;
}

div#toolbar {
    border: 1px solid #767676;
    background: #eee;
    clear: both;
    float: left;
}

div#body {
    margin: 10px;
    clear: both;
}

div#content {
    display: block;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

div#trash {
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

span#notice {
    color: green;
}

span#error {
    color: red;
}

div.node {
    float: left;
    clear: both;
    margin: 0;
    padding: 0 0 5px 0;
}

div.node a {
    color: #333;
}

div.node a:hover {
    text-decoration: none;
    background: white;
    color: #333;
}

.key {
    float: left;
    background: #ddd;
    padding: 2px 5px 2px 5px;
    border: 1px solid #767676;
    margin-right: 7px;
}

div.line {
    clear: left;
    margin-bottom: 5px;
}

div.value {
    float: left;
    background: #eee;
    padding: 2px 5px 2px 5px;
    border: 1px solid #767676;
    margin-right: 7px;
}

div.tool {
    float: left;
    border: 1px solid #eee;
    background: #eee;
}

div.tool:hover {
    border: 1px solid #767676;
    background: #ddd;
}

/*
    background: #999;
    background: #909;
    background: #099;
    background: #990;
*/